.Rproj.user
.Rhistory
*.Rdata
.httr-oauth
.DS_Store
*.tar.gz
*.tbi
vignettes/*_cache
src/htslib-1.21
test-random.R

## lsp
.clangd
.clang-format

## R check
src/symbols.rds
*.Rcheck
CRAN-SUBMISSION
README.html
## docs
inst/doc
/src/Makevars
